@import "tailwindcss";
@plugin "@tailwindcss/typography";

@media (min-width: 768px) {
  html {
    scroll-snap-type: y mandatory;
  }
}

@theme {
  --color-toolio-white: #FFFFFF;
  --color-toolio-100: #DBE2E9;
  --color-toolio-200: #B6C5D3;
  --color-toolio-300: #92A8BD;
  --color-toolio-400: #6D8BA8;
  --color-toolio-500: #496E92;
  --color-toolio-600: #24507C;
  --color-toolio-dark: #003366;

  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;
  --font-heading: "Plus Jakarta Sans", system-ui, sans-serif;
}
